.aside-bar {
    flex: 0.3;
    border-right: var(--border);
    width: 300px;
    padding: 10px;
    overflow-y: auto;
}

.aside_container {
    border-bottom: var(--border);
}

.aside_header {
    display: flex;
    flex-direction: column;
    gap: 12px
}